@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

:root {
  --primary-color: #c91c55;
  --background-color: #0e0e0e;
  --secondary-color: #1c1c1c;
  --gray-dark: #343434;
  --gray: #666;

  --default-border-radius: 5px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: var(--background-color);
  color: #fff;
  line-height: 1.5;
  height: 100vh;
  width: 100vw;
}

h1 {
  font-size: 52px;
  line-height: 1.2;
}
h2 {
  font-size: 24px;
  line-height: 1.3;
}

/* utilites */

/* section style */
.main-container {
  width: 100%;
  height: auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

header {
  width: 90%;
  background: var(--secondary-color);
  height: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

.results-section {
  width: 90%;

  margin: 30px 0;
}

.footer-section {
  background: var(--secondary-color);
  width: 100%;
  position: absolute;
  padding: 20px 0;
  bottom: 0;
  margin-top: 20px;
}

/* Header Section */
.main-container header .logo img {
  width: 100px;
  margin-top: 20px;
}

.main-container header form {
  width: 100%;
  text-align: center;
  margin: 50px 0;
  position: relative;
}

.main-container header form input {
  width: 50%;
  margin: 0 auto;
  padding: 10px 10px 10px 20px;
  font-size: 20px;
  border-radius: var(--default-border-radius);
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  color: #fff;
}

.main-container header form input:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.main-container header form input:focus {
  background-color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.main-container header form button {
  border: none;
  color: #fff;
  height: 100%;
  margin-bottom: 2px;
  padding: 10px 20px;
  margin-left: 20px;
  border-radius: var(--default-border-radius);
  background: var(--primary-color);
  position: absolute;
  top: 0;
  transition: opacity 0.2s ease-in;
}
.main-container header form button:hover {
  opacity: 0.9;
}
/* result details */
.main-container .results-section .results-container {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  margin-bottom: 60px;
}
.main-container .results-section .results-container .result-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--secondary-color);
  width: 200px;
  height: 370px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  border-radius: var(--default-border-radius);
  position: relative;
}
.main-container .results-section .results-container .result-details img {
  width: 100%;
  height: 80%;
  border-top-left-radius: var(--default-border-radius);
  border-top-right-radius: var(--default-border-radius);
}
.main-container .results-section .results-container .result-details div {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.main-container .results-section .results-container .result-details div span {
  color: var(--gray);
  font-size: 14px;
}
.main-container .results-section .results-container .result-details div .tag {
  border: 1px solid var(--gray);
  border-radius: var(--default-border-radius);
  font-size: 14px;
}
/* Error message */
.error-message {
  text-align: center;
  font-size: 24px;
  width: 100%;
  font-weight: 800;
  color: #c91c55;
  margin: auto;
  grid-column: 1 / span 6;
}

/* loading Spinner */
.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
  grid-column: 1 / span 6;
  margin: auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;

  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* media query */

@media (max-width: 768px) {
  .main-container header form input {
    width: 75%;
    position: absolute;
    left: 10px;
  }
  .main-container header form button {
    right: 10px;
    height: 40px;
  }
}
